<div class="alert alert-danger" *ngIf="showInvalidLoginErrorMessage">
    <span>{{ invalidLoginErrorMessage }}</span>
</div>
<div>
    <label for="username">User Name:</label>
    <input type="text" name="username" [(ngModel)]="username">

    <label for="password">Password:</label>
    <input type="password" name="password" [(ngModel)]="password">

    <!-- <button class="btn btn-success" type="submit" (click)=handleLogin()>Login</button> -->
    <button class="btn btn-success" type="submit" (click)=handleBasicAuthLogin()>Login</button>
</div>